<%- include('header') %>

    <body>
        <% for(let eachObject of users) { %>
            <div class="eachObjectData" >
                <p class="questionTitle"><u>QUIZ TITLE: <%=eachObject.quiz_title %></u></p>
                <p></p>
                <p class="questions"><u>QUIZ TITLE: <%=eachObject.quiz_title %></u></p>
                <p></p>
                <ul class="possibleAnswers">
                    <label>A) <%=eachObject.first_answer %></label><br />
                    <label>B) <%=eachObject.second_answer %></label><br />
                    <label>C) <%=eachObject.third_answer %></label><br />
                    <label>D) <%=eachObject.fourth_answer %></label><br />
                </ul>

                <span class="answerSection" data-questionId="<%= eachObject.id %>">
                    THE ANSWER IS = <%=eachObject.first_answer %> <br />
                </span>
            </div>
            <button class="clickingButton" data-questionId="<%= eachObject.id %>">Check Answer</button>
            <% } %>
                <script type="text/javascript" src="/scripts/answer.js"> 
                </script>
    </body>

    </html>