<%- include('header') %>
<body>
    
    <% for(let eachObject of users) { %>
        <!--
        <form method="POST" action="/answerQuizz"></form>
                <div><u>QUIZ TITLE: <%=eachObject.quiz_title %></u></div>
                <div class="py-2 h5"><b><u><p><%=eachObject.quiz_title %>??</u></b></div>
                    <div>-----------------------</div>
                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label class="options">
                        <input type="radio" name="radio"> <%=eachObject.first_answer %>
                    </label><br>
               <label class="options">
                        <input type="radio" name="radio"> <%=eachObject.second_answer %>
                    </label><br>
                <label class="options">
                        <input type="radio" name="radio"> <%=eachObject.third_answer %>
                    </label><br>
               <label class="options">
                        <input type="radio" name="radio"> <%=eachObject.fourth_answer %>
                    </label><br>
                    
            <INPUT TYPE="SUBMIT" VALUE="Submit Answer">
           
            </form>
             -->
             <u>QUIZ TITLE: <%=eachObject.quiz_title %></u><br>
            <div class="py-2 h5"><b><u><p><%=eachObject.quiz_title %>??</u></b></div>
                <ul>
                    <label>A) <%=eachObject.first_answer %></label><br>
                    <label>B) <%=eachObject.second_answer %></label><br>
                    <label>C) <%=eachObject.third_answer %></label><br>
                    <label>D) <%=eachObject.fourth_answer %></label><br>
                </ul>
                <span class="adjustingHere"></span>
                <span class="answerSection"> ANSWER IS = (C) 3.14<br></span><br>
                <button id="clickingButton" onclick= "questionFunction()">CLICK HERE TO CHECK ANSWER</button><br>
                <scr
    <%  } %>
</body>
<html>