<%- include('header') %>
<body>
    
    <% for(let eachObject of users) { %>
        <form method="POST" action="/answerQuizz"></form>
                <div><u>QUIZ TITLE: <%=eachObject.quiz_title %></u></div>
                <div class="py-2 h5"><b><u><p><%=eachObject.quiz_title %>??</u></b></div>
                    <div>-----------------------</div>
                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <div><label class="options">
                        <input type="radio" name="radio"> <%=eachObject.first_answer %>
                    </label></div>
                <div><label class="options">
                        <input type="radio" name="radio"> <%=eachObject.second_answer %>
                    </label></div>
                <div><label class="options">
                        <input type="radio" name="radio"> <%=eachObject.third_answer %>
                    </label></div>
                <div><label class="options">
                        <input type="radio" name="radio"> <%=eachObject.fourth_answer %>
                    </label></div>
                    <%  } %>
            <INPUT TYPE="SUBMIT" VALUE="Submit Answer">
          
            </form>
</body>
<html>