<%- include('header') %>
<body>
    <h2>Quiz created successfully</h2>
    <% for(let questionObject of usersQuiz ) {%>
        <div><h3><u><%=questionObject.question%></u></h3></div>
    <ol>
       <li><h4><%=questionObject.first_answer%></h4></li>
       <li><h4><%=questionObject.second_answer%></h4></li>
       <li><h4><%=questionObject.third_answer%></h4></li>
       <li><h4><%=questionObject.fourth_answer%></h4></li>
    </ol>
    <% } %>
    <button><a href="/creating-quiz-page">CREATE ANOTHER QUIZ</a></button>
    <!--Fix the link to creating quiz-->
</body>
</html>
