<%- include('header') %>
<body>
    <h2>QUIZ CREATED SUCCESFULLY</h2>
    <ol>
        <div><h3><%=questionObject.firstQuestion%></h3></div>
       <li><h4><%=questionObject.answerOne%></h4></li>
       <li><h4><%=questionObject.answerTwo%></h4></li>
       <li><h4><%=questionObject.answerThree%></h4></li>
       <li><h4><%=questionObject.answerFour%></h4></li>
    </ol>
</body>
</html>