<%- include('header') %>
<body>
    <h2>Quiz created successfully</h2>
    <ol>

        <div><h3><%=questionObject.firstQuestion%></h3></div>
       <li><h4><%=questionObject.answerOne%></h4></li>
       <li><h4><%=questionObject.answerTwo%></h4></li>
       <li><h4><%=questionObject.answerThree%></h4></li>
       <li><h4><%=questionObject.answerFour%></h4></li>
    </ol>

    <button><a href="/creating-quiz-page"></a>CREATE ANOTHER QUIZ</button>
    <!--Fix the link to creating quiz-->
</body>
</html>
