<%- include('header') %>
<body>
    <h2>QUIZ CREATED SUCCESFULLY</h2>
    <ol>
        <% for(let key in questionObject)%>
        <div><h3><%=questionObject[key].firstQuestion%></h3></div>
       <li><h4><%=questionObject[key].answerOne%></h4></li>
       <li><h4><%=questionObject[key].answerTwo%></h4></li>
       <li><h4><%=questionObject[key].answerThree%></h4></li>
       <li><h4><%=questionObject[key].answerFour%></h4></li>
    </ol>
    <%}%>
    <button><a href="/creatingQuiz"></a>CREATE ANOTHER QUIZ</button>
    <!--Fix the link to creating quiz-->
</body>
</html>